{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="row">
    <div class="row">
        {% if users %}
            <h2>Другие пользователи:</h2>
            <br>
                {% for user in users %}
                    {% if not user in friends %}
                        <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
                            <div class="row">
                        <div class="col-xs-1">
                            {% if user.userprofile.image %}
                                <img src="{{ user.userprofile.image.url }}" width="70" height="70">
                            {% endif %}
                        </div>
                        <div class="col-xs-10">
                            <p style="font-size: 35px;">{{ user.username }}</p>
                        </div>
                        </div>
                        </a>
                        <br>

                        <a href="{% url 'home:change_friends_user' operation='add' pk=user.pk %}">
                        <button type="button" class="btn btn-success">Добавить в друзья</button>
                        </a>
                    <hr>
                    {% endif %}
                {% endfor %}
        {% else %}
            <h2>Вы добавили всех в друзья</h2>
        {% endif%}
        <br>
        <a href="{% url 'home:home' %}" class="btn btn-info btn-lg">Обратно</a>

</div>
</div>
</div>
</div>


{% endblock %}
