{% extends 'base.html' %}


{% block head %}
<title>Профиль</title>
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-5">
            <form method="post">
                {% csrf_token %}
                <!--{{ form.as_p }}-->
                <h3>Введите старый пароль:</h3>
                {{ form.old_password }}
                <h3>Введите новый пароль:</h3>
                {{ form.new_password1 }}
                <h3>Подтвердите пароль:</h3>
                {{ form.new_password2 }}
                <br><br>
                <button type="submit" class="btn btn-success btn-lg">Подтвердить</button>
            </form>
        </div>
        <div class="col-xs-6">
            <h3 class="alert alert-info">
                1. Ваш пароль <b>не должен</b> быть похож на другие персональный данные. <br>
                2. Ваш пароль <b>должен</b> содержать минимум 8 символов. <br>
                3. Ваш пароль <b>не должен</b> быть простым. <br>
                4. Ваш пароль <b>не должен</b> состоять только из цифр. <br>
            </h3>
        </div>
    </div>

</div>

{% endblock %}
