{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>Base</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/stylenew.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" >
        <link rel="stylesheet" href="{% static 'css/style.css'%}" >
        <link rel="stylesheet" href="{% static 'css/col.css'%}" >
        <link rel="stylesheet" href="{% static 'css/st.css'%}" >






    </head>
    <body>

    <div class="container">
	<div class="row">
		<div id="loader">
    		<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="lading"></div>
		</div>
	</div>
</div>
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="http://soundhall.club/sysfiles/images/logos-of-social-networks-Vkontakte-Facebook-instagram.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://soundhall.club/sysfiles/images/logos-of-social-networks-Vkontakte-Facebook-instagram.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        {% if user.is_authenticated %}
                        <li class="active"><a href="{% url 'home:home' %}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Домой</span></a></li>
                        <li><a href="{% url 'home:friend' %}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Друзья</span></a></li>
                        <li><a href="{% url 'music:home' %}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Музыка</span></a></li>
                        <li><a href="{% url 'accounts:view_profile' %}"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Профиль</span></a></li>
                        {% if request.user.userprofile.description == '' %}
                        <li><a href="{% url 'accounts:edit_profile' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Изменить профиль</span></a></li>
                        {% endif %}
                        <li><a href="{% url 'accounts:edit_profile_lp' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Изменить Email</span></a></li>
                        <li><a href="{% url 'accounts:change_password' %}"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Изменить пароль</span></a></li>
                        <hr>
                        <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Выйти</span></a></li>
                        {% else %}

                        <li><a href="{% url 'accounts:login' %}"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Войти</span></a></li>
                        <li><a href="{% url 'accounts:register' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Зарегистрироваться</span></a></li>
                        <li class="active"><a href="{% url 'accounts:reset_password' %}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Сбросить пароль</span></a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>

                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            {% if user.is_authenticated %}
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Искать" id="search">
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <!--<li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Add Project</a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>-->
                                    <!--<li>-->
                                        <!--<a href="#" class="icon-info">-->
                                            <!--<i class="fa fa-bell" aria-hidden="true"></i>-->
                                            <!--<span class="label label-primary">3</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <li class="dropdown">
                                        {% if user.is_authenticated %}
                                        <h3>Вы вошли как <a href="{% url 'accounts:view_profile' %}">{{request.user.username}}</a></h3>
                                        {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                                {% block body %}
                            <h1>Base</h1>
                            {% endblock %}
                </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                            <input type="text" placeholder="Project Title" name="name">
                            <input type="text" placeholder="Post of Post" name="mail">
                            <input type="text" placeholder="Author" name="passsword">
                            <textarea placeholder="Desicrption"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>



        <!--<br>-->
        <!--<div class="container">-->
            <!--<nav class="navbar navbar-default">-->
            <!--<div class="container-fluid">-->
              <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                  <!--<span class="sr-only">Toggle navigation</span>-->
                  <!--<span class="icon-bar"></span>-->
                  <!--<span class="icon-bar"></span>-->
                  <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="/">Social Network</a>-->
              <!--</div>-->
              <!--<div id="navbar" class="navbar-collapse collapse">-->
                <!--{% if user.is_authenticated %}-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li><a href="{% url 'home:home' %}">Home</a></li>-->
                    <!--<li><a href="{% url 'accounts:view_profile' %}">Profile</a></li>-->
                    <!--<li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>-->
                    <!--<li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>-->
                <!--</ul>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="{% url 'accounts:logout' %}">Log out</a></li>-->
                <!--</ul>-->
                <!--{% else %}-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li><a href="{% url 'accounts:reset_password' %}">Reset Password</a></li>-->
                <!--</ul>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                  <!--<li><a href="{% url 'accounts:login' %}">Login</a></li>-->
                  <!--<li><a href="{% url 'accounts:register' %}">Register</a></li>-->
                <!--</ul>-->
                <!--{% endif %}-->
              <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
            <!--</div>&lt;!&ndash;/.container-fluid &ndash;&gt;-->
          <!--</nav>-->
        <!--</div>-->

    </body>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/min.js'%}"></script>
    <script src="{% static 'js/jsst.js'%}"></script>
    <script src="{% static 'js/parallaxsoon.js'%}"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <script>var _gaq=[['_setAccount','UA-20257902-1'],['_trackPageview']];(function(d,t){ var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
        <script src="{% static 'audiojs/audio.min.js'%}"></script>
        <script>
        audiojs.events.ready(function() {
            audiojs.createAll();
        });
        </script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
</html>